Donner le nom et le prénom de tous les clients.

In [3]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT nom, prenom FROM client")
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

('Ewing', 'Grant')
('Buck', 'Violet')
('Hood', 'Isabelle')
('Small', 'Germane')
('Hancock', 'Vincent')
('Mayo', 'Gwendolyn')
('Dean', 'Emi')
('Salinas', 'Debra')
('Hunter', 'Jesse')
('Morin', 'Fulton')
('Duke', 'Aladdin')
('Parsons', 'Leroy')
('Coffey', 'Dominique')
('Bird', 'Britanney')
('Cooke', 'Julian')
('Raymond', 'Venus')
('Lynch', 'Austin')
('Morgan', 'Edan')
('Carpenter', 'Sage')
('Valenzuela', 'Francis')
('Rodriquez', 'Sylvia')
('Perry', 'Isabella')
('Beard', 'Jordan')
('Clarke', 'Yvette')
('Huber', 'April')
('Joyner', 'Eliana')
('Little', 'Leigh')
('Reilly', 'Karina')
('Gilmore', 'Sean')
('Gates', 'Ora')
('Hines', 'Wylie')
('Thornton', 'Brenda')
('Mclaughlin', 'Caldwell')
('Schmidt', 'Dorian')
('Hines', 'Rose')
('Cooke', 'Jordan')
('Gallegos', 'Otto')
('Pennington', 'Adrian')
('Howard', 'Brynne')
('Sullivan', 'Isadora')
('Cleveland', 'Yoshio')
('Mcpherson', 'Cyrus')
('Lee', 'Dustin')
('Cobb', 'Alexandra')
('Mays', 'Latifah')
('Grant', 'Prescott')
('Hill', 'Olivia')
('Livingston', 'Adria')
('Rush', 'Lev')
('Shepard', 'Summer')
('Rutledge', 'Maggy')
('Shepherd', 'Isa')
('Peters', 'Odette')
('Maddox', 'Hammett')
('Greer', 'Echo')
('Burch', 'Rebecca')
('Hunt', 'Madaline')
('Peck', 'Keiko')
('Roberson', 'Lewis')
('Dumbledore', 'Albus')
('Rogue', 'Severus')
('Wells', 'Bethany')
('Faulkner', 'Ramona')
('Diaz', 'Ivory')
('Booker', 'Ahmed')
('Conrad', 'Sara')
('Roy', 'Winifred')
('Blanchard', 'Chiquita')
('Green', 'Ulric')
('Robles', 'Paloma')
('Watts', 'Uma')
('Barry', 'Xavier')
('Gaines', 'Rosalyn')
('Romero', 'Uriah')
('Wilkinson', 'Ariana')
('Aguirre', 'Amir')
('MacGonagall', 'Minerva')
('Montoya', 'Martina')
('Eaton', 'Lacy')
('Baldwin', 'Charity')
('Mercer', 'Quinn')
('Rojas', 'Lisandra')
('Campos', 'Melissa')
('Finley', 'Myra')
('Gill', 'Mari')
('Guerra', 'Leonard')
('Floyd', 'Taylor')
('Burns', 'Steel')
('Hobbs', 'Sydney')
('Fry', 'Sierra')
('Little', 'Nero')
('Weeks', 'Lamar')
('Alvarado', 'Jerry')
('Becker', 'Buckminster')
('Short', 'Conan')
('Koch', 'Alexa')
('Sparks', 'Nina')
('Mathews', 'Elmo')
('Slater', 'Donovan')
('Sparks', 'Steel')

Donner le nom et le prénom des clients habitant à Paris.

In [8]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT nom, prenom, ville FROM client WHERE ville =?",("Paris",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

('Hood', 'Isabelle', 'Paris')
('Parsons', 'Leroy', 'Paris')
('Grant', 'Prescott', 'Paris')
('Hill', 'Olivia', 'Paris')
('Fry', 'Sierra', 'Paris')
('Becker', 'Buckminster', 'Paris')

Donner les identifiants des comptes de type Livret A.

In [10]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT idcompte FROM compte WHERE type =?",("Livret A",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(2,)
(10,)
(11,)
(13,)
(28,)
(30,)
(31,)
(37,)
(45,)
(51,)
(52,)
(53,)
(59,)
(61,)
(64,)
(69,)
(72,)
(77,)
(89,)
(94,)
(98,)
(101,)
(102,)
(106,)
(117,)
(120,)
(122,)
(125,)
(126,)
(127,)
(128,)
(130,)
(139,)
(144,)
(148,)
(156,)
(159,)
(162,)
(165,)
(166,)
(169,)
(170,)
(172,)
(177,)
(181,)
(188,)
(190,)
(192,)
(196,)
(198,)
(201,)
(203,)
(213,)
(214,)
(224,)
(225,)
(228,)
(229,)
(230,)
(231,)
(235,)
(236,)
(237,)
(239,)
(256,)
(269,)
(273,)
(278,)
(282,)
(295,)
(297,)
(299,)

Donner les identifiants des opérations de débit sur le compte d’identifiant égal à 1.

In [13]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT idop, montant FROM operation WHERE idcompte =? AND montant < 0 ",("1",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(836, -360.29446778975)

Donner, sans doublon, les identifiants des propriétaires de livret A, classés par ordre croissant.

In [15]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT DISTINCT idproprietaire FROM compte WHERE type =?",("Livret A",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(48,)
(87,)
(69,)
(89,)
(52,)
(32,)
(36,)
(59,)
(88,)
(98,)
(17,)
(78,)
(91,)
(73,)
(9,)
(62,)
(49,)
(46,)
(51,)
(56,)
(12,)
(29,)
(97,)
(63,)
(100,)
(28,)
(54,)
(34,)
(30,)
(92,)
(71,)
(72,)
(38,)
(33,)
(5,)
(96,)
(61,)
(93,)
(82,)
(60,)
(15,)
(2,)
(22,)
(74,)
(13,)
(84,)
(95,)
(25,)
(3,)

Donner l’identifiant des clients n’ayant pas de livret A.

In [16]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT DISTINCT idproprietaire FROM compte WHERE type <> ?",("Livret A",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(70,)
(87,)
(5,)
(63,)
(67,)
(75,)
(3,)
(34,)
(82,)
(56,)
(6,)
(52,)
(9,)
(57,)
(95,)
(28,)
(51,)
(49,)
(25,)
(79,)
(32,)
(24,)
(11,)
(17,)
(61,)
(92,)
(2,)
(80,)
(20,)
(13,)
(100,)
(69,)
(96,)
(68,)
(65,)
(94,)
(50,)
(60,)
(99,)
(19,)
(72,)
(14,)
(62,)
(43,)
(73,)
(12,)
(38,)
(86,)
(15,)
(48,)
(47,)
(88,)
(29,)
(81,)
(36,)
(44,)
(71,)
(77,)
(18,)
(46,)
(31,)
(42,)
(91,)
(64,)
(26,)
(89,)
(45,)
(39,)
(21,)
(55,)
(98,)
(10,)
(90,)
(83,)
(58,)
(37,)
(53,)
(16,)
(8,)
(35,)
(40,)
(54,)
(33,)
(97,)
(7,)
(30,)
(76,)
(27,)

Donner l’identifiant de compte et le type de compte des clients habitant à Paris.

In [19]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT c.idcompte, c.type  FROM client t, compte c WHERE t.idclient = c.idproprietaire AND t.ville =?",("Paris",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(9, 'Assurance Vie')
(60, 'Compte Courant')
(67, 'Compte Courant')
(77, 'Livret A')
(82, 'Plan Epargne Actions')
(91, 'Assurance Vie')
(98, 'Livret A')
(113, 'Assurance Vie')
(114, 'Compte Courant')
(125, 'Livret A')
(146, 'Assurance Vie')
(154, 'Assurance Vie')
(161, 'Assurance Vie')
(181, 'Livret A')
(183, 'Compte Courant')
(185, 'Compte Courant')
(200, 'Plan Epargne Actions')
(204, 'Plan Epargne Actions')
(219, 'Assurance Vie')
(233, 'Assurance Vie')
(234, 'Assurance Vie')
(242, 'Compte Courant')
(255, 'Compte Courant')
(261, 'Compte Courant')
(263, 'Assurance Vie')
(264, 'Compte Courant')
(278, 'Livret A')
(290, 'Assurance Vie')
(297, 'Livret A')

Donner la liste des comptes et les types de compte de Dumbledore.

In [21]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT c.idcompte, c.type FROM client t, compte c WHERE t.idclient = c.idproprietaire AND t.nom =?",("Dumbledore",))
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

(65, 'Assurance Vie', 60, 'Dumbledore')
(71, 'Assurance Vie', 60, 'Dumbledore')
(214, 'Livret A', 60, 'Dumbledore')
(239, 'Livret A', 60, 'Dumbledore')

Donner le nombre de clients par ville, classé par ordre alphabétique de villes.

In [23]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT ville, COUNT(ville) AS quantity FROM client GROUP BY ville ORDER BY quantity")
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

('Aix-en-Provence', 1)
('Arcachon', 1)
('Avignon', 1)
('Bayonne', 1)
('Blenheim', 1)
('Bologne', 1)
('Cannes', 1)
('Grenoble', 1)
('La Roche-sur-Yon', 1)
('Lens', 1)
('Limanges', 1)
('Limoges', 1)
('Mande', 1)
('Metz', 1)
('Montauban', 1)
('Montpellier', 1)
('Orange', 1)
('Perpignan', 1)
('Pré-au-Lard', 1)
('Quimper', 1)
('Rangen', 1)
('Rennes', 1)
("Rue d'Ulm", 1)
('Saint-Etienne', 1)
('Strasboug', 1)
('Valencienne', 1)
('Versailles', 1)
('X', 1)
('Amiens', 2)
('Angers', 2)
('Belfort', 2)
('Besançon', 2)
('Calais', 2)
('Carpentras', 2)
('Clermont-Ferrand', 2)
('Nancy', 2)
('Orléans', 2)
('Rouen', 2)
('Toulouse', 2)
('Bordeaux', 3)
('Brest', 3)
('Mulhouse', 3)
('Nantes', 3)
('Palaiseau', 3)
('Poudlard', 3)
('Reims', 3)
('Lille', 4)
('Nice', 4)
('Lyon', 5)
('Marseille', 5)
('Strasbourg', 5)
('Paris', 6)

donner la ville ayant le plus de clients.

In [26]:
import sqlite3
baseDeDonnees = sqlite3.connect("/home/paul_o/dossierlinux/THP/24.07.2023/THP_day21_the_begining-02/infos/py066-ma_banque.db")
curseur = baseDeDonnees.cursor()
curseur.execute("SELECT ville, COUNT(ville) AS quantity FROM client GROUP BY ville ORDER BY quantity DESC LIMIT 1")
for contact in curseur.fetchall():
    print(contact)
baseDeDonnees.close()

('Paris', 6)